@import 'https://fonts.googleapis.com/css?family=Baloo+Da|Indie+Flower';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.text-right{
    text-align: right;
}
body{
    color: #757575;
    /**background: url('../images/bg-1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    min-width: 1000px;**/
}
.side-bar-head{
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
    
}
.side-bar-image img{
    width: 100%;
}
.side-bar-body{
    padding: 15px;
    color: #888;
    font-family: 'Indie Flower', cursive;
}
.right-side-bar{
    width: 30%;
    float: right;
    background: #fff;
    min-height: 100%;
    z-index: 10;
    position: relative;
}
.left-side-bar{
    width: 70%;
    border-top: solid 10px #333;
    float: left;
    z-index: 10;
    position: relative;
}
.left-side-body{
    padding: 15px;
}
.left-side-bar{
}
.head-section{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}


@font-face {
    font-family: 'fontello';
    src: url('../fontello/font/fontello.eot?81128870');
    src: url('../fontello/font/fontello.eot?81128870#iefix') format('embedded-opentype'),
       url('../fontello/font/fontello.woff?81128870') format('woff'),
       url('../fontello/font/fontello.ttf?81128870') format('truetype'),
       url('../fontello/font/fontello.svg?81128870#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.font-icon
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin: 10px;
}
.left-side-bar-body a{
    text-decoration: none;
}
.left-side-bar-body{
    width: 495px;
    text-align: center;
    margin: auto;
    margin-top: 30%;
}
.left-side-bar-body h2{
    font-family: 'Baloo Da', cursive;
    color: #999;
}
#copyright{
    text-align: center;
    font-family: cursive;
    font-size: 12px;
}



img.bg {
  min-height: 100%;
  min-width: 700px;
  width: 70%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}