
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-skype:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-tumblr:before { content: '\e804'; } /* '' */
.icon-wordpress:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */
.icon-github:before { content: '\e808'; } /* '' */
.icon-stackoverflow:before { content: '\e809'; } /* '' */